
 #container {

	width: 800px;
	margin: auto;
}
h1{
	margin-bottom:5px;
 }
 div{
	margin-bottom:3px;
 }
 div:last-of-type{
	margin-bottom:5px;
 }
 div + div{
	margin-bottom:10px;
 }
 input{
	margin-bottom:10px; 

 }
 button.Upload{
	display: flex; 
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    /* box-sizing: border-box; */
    text-decoration:none;
    font-weight:300;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 0%;
	width: 150px;
	height: 40px;
    border-radius:0.1em;
    color:white;
    background-color:#33658a;
    text-align:center;
    border-radius:0.3em;
    border-color: #e5e5e5!important;
    font-family: inherit;
    font-size: inherit;
	line-height: inherit;
	
 }

body{
    margin: 0;
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4c3e54;
    text-align: center;
	background-color: #fff;

	
}
.Upload {
  font-weight: 3000;
  size: 400px;
  font-size: 16px;
  width: 100px;
  height: 30px;
  color: white;
  padding-left: 10px;
  font-family: inherit;
    font-size: inherit;
	line-height: inherit;
	border-radius:0.3em;
	border-color: #e5e5e5!important;
	box-sizing: border-box;
	display: flex; 
    display:inline-block;
  
}


#choose-file {

		/* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%); */
		border-radius: 1px !important;
		padding: .375rem 2.15rem !important;
		color: #168 !important;
    	/* background-color: #e5f9fe; */
		border-color: #e5f9fe;
		box-sizing: border-box;
		font-family: inherit;
    	font-size: 18px;
		line-height: inherit;
		padding-left: 10px;
		height: 75px;

}

 label {
  display:block;
  align-items: left;
  text-align: left;
}

.imp{
    /* background-color:transparent;*/
    display: flex; 
     display:inline-block;
     padding:0.3em 1.2em;
     margin:0 0.3em 0.3em 0;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Roboto',sans-serif;
     font-weight:300;
     padding-top: 7px;
     padding-bottom: 7px;
     margin-top: 2%;
     margin-bottom: 2%;
     margin-right: 0%;
     width: 250px;
     border-radius:0.3em;
     color:#e5f9fe;
     background-color:#33658a;
     text-align:center;
     transition: all 0.2s;
     border-color: #e5e5e5!important;
     font-family: inherit;
     font-size: inherit;
     line-height: inherit;
     }
     .details:hover{
     background-color:#33658a;
     color:white ;
     }
